name: release

on:
  push:
    tags: ["*"]

jobs:
  build:
    uses: ./.github/workflows/build.yml
  publish:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: Tag_FW_CC26xx
      - uses: ncipollo/release-action@v1
        with:
          artifacts: Tag_FW_CC26xx.bin
          allowUpdates: true
          draft: true
